body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
}

h1{
    text-align: center;
    font-size: 50px;
    color:rgba(193, 193, 193, 0.88);
}

.container{
    width: 1000px;
    border: 1px solid #d0d0d0;
    margin-top: 50px;
    min-height: 500px;
    background-color: #f7f7f7;
}

.listbox{
    width:800px;
}

button {
    border: none;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px;
    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        cursor: pointer;
    }
    color:dimgrey;
}

input {
    border: none;
    padding: 10px;
    margin: 5px 10px 5px 10px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.addInput{
    width: 80%;
    padding: 20px;
}

li{
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteBtn{
    color:#fd6d6d
}

.addTodo{
    color:rgba(37, 106, 37, 0.84);
}

.line{
    text-decoration: line-through;
}

.todoItem{
    font-size: 30px;
    margin-right: 50px;
    height: auto;
    color:#6c6c6c;
    width: 300px;
    white-space: pre-line;
    p{
        white-space: pre-line;
    }
}
